{% extends 'base.html' %}

{% block title %}About Us{% endblock %}


{% block body %}
<style>
  h3,p{
  padding-top: 2% ;
  }
</style>


<div class="parallax" style='background-image :url("static/imagesblack.jpg");'>


  <!---header-wrapper--->
  <div class="container">
  <div class="clear"></div>
  <div class="page-content">
    <div class="page">
      <div class="panel">
        <div class="title">
          
          <h1 class="my-2"style="color: rgb(7, 7, 7);"> WELCOME TO Daddy's Garage</h1>
        
        </div>
        <div class="content" >
       
        
       <p style="color: black;"> Daddy's Garage established for automotive maintenance, customers can truly Reliable and follow his passion to take care
        of vehicle by providing excellent services.
        Daddy's Garage main focus is to make customer happy by providing correct service or repair in time and best price.</p>
        
        <p style="color: black ;">Over 15 Years Experience</p>
       <p style="color: black; padding-top : 0%"> We specialize in diagnosing those hard to find problems.We handle all makes and models like Ashok leyland, Tata, Eicher, etc.
        We used all latest technology tools for quick and quality fixes.
        100% satisfaction rate and 100% happy users
        Systematic Reports and no hidden faults
</p>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  </div>
  </div>
  <!---page-content--->

 {% endblock %}