{% extends "base.html" %}

{% block body %}
{% load static %}
<div id="testimonials" class="parallax section db parallax-off"
  style="background-image:url({% static 'images/bus2.jpg' %});">


<div class="container my-4 ">
  <div class="row justify-content-center mx-4">
    <div class="title col-12 mx-4 col-lg-4">

<img src='/static/images/c.gif' class="rounded-circle my-3 card img-fluid align-items-center mx-3" style="width: 16rem;"
        alt="sucess">
<h1 class="mbr-section-title align-center mx-4 my-4 pb-1 mbr-fonts-style display-4" style="color: yellow;">Password Changed</h1>



</div>
</div>
</div>
</div>
{% endblock %}
