<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Garage Bill</title>

    <style>
        h1 {
            font-size: 25px;
        }

        table {
            border: 1px solid rgb(190, 186, 186);
        }

        td,
        th {
            text-align: center;
        }

        th {
            padding: 6px;
            background-color: rgb(192, 238, 238);
        }

        .tab {
            padding: 5px;

        }

        td {
            padding: 5px;
        }

        .text-break {
            word-break: break-all;
        }

        p {
            text-align: center;
        }
    </style>

</head>

<body>
    <h1 style="text-align: center;">Daddy's Garage</h1>
    <p>SPL. IN:TATA, LEYLAND, EICHER & ALL DIESEL VECHICLES</p>
    <p>Locate Us : Manohar Compound, Near Maharashtra Weight Bridge, L.B.S. Marg, Kurla(W), Mumbai-400070 </p>

    <hr>
    <div style="overflow-x:auto;"></div>
    <table class="table ">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Appointement id</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Vehicle no</th>
            </tr>
        </thead>

        <tbody>
            <td> {{apt_id}}</td>
            <td> {{name}}</td>
            <td> {{phone}}</td>
            <td>{{email}}</td>
            <td> {{busno}}</td>
        </tbody>
    </table>



    <table>
        <thead class="thead-dark">
            <tr>
                <th scope="col">workdone</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="text-break "> {{workdone1}}</td>
                <td class="text-break  "> {{wamount1}}</td>
            </tr>
            <tr>
                <td class="text-break "> {{workdone2}}</td>
                <td class="text-break "> {{wamount2}}</td>
            </tr>
            <tr>
                <td class="text-break "> {{workdone3}}</td>
                <td class="text-break "> {{wamount3}}</td>
            </tr>
            <tr>
                <td class="text-break "> {{workdone4}}</td>
                <td class="text-break "> {{wamount4}}</td>
            </tr>
            <tr>
                <td class="text-break "> {{workdone5}}</td>
                <td class="text-break "> {{wamount5}}</td>
            </tr>
            <tr>
                <td class="text-break  "> {{workdone6}}</td>
                <td class="text-break  "> {{wamount6}}</td>
            </tr>
            <tr>
                <td class="text-break  "> {{workdone7}}</td>
                <td class="text-break  "> {{wamount7}}</td>
            </tr>
            <tr>
                <td class="text-break  "> {{workdone8}}</td>
                <td class="text-break  "> {{wamount8}}</td>
            </tr>
            <tr>
                <td class="text-break  "> {{workdone9}}</td>
                <td class="text-break  "> {{wamount9}}</td>
            </tr>
            <tr>
                <td class="text-break  "> {{workdone10}}</td>
                <td class="text-break  "> {{wamount10}}</td>
            </tr>
            <tr>
                <td class="text-break  "> {{workdone11}}</td>
                <td class="text-break  "> {{wamount11}}</td>
            </tr>
            <tr>
                <td class="text-break  "> {{workdone12}}</td>
                <td class="text-break  "> {{wamount12}}</td>
            </tr>
            <tr>
                <td class="text-break  "> {{workdone13}}</td>
                <td class="text-break  "> {{bil.wamount13}}</td>
            </tr>
            <tr>
                <td class="text-break  "> {{workdone14}}</td>
                <td class="text-break  "> {{wamount14}}</td>
            </tr>
            <tr>
                <td class="text-break  "> {{workdone15}}</td>
                <td class="text-break  "> {{wamount15}}</td>
            </tr>
        </tbody>
        <tr>
            <td class="text-break  ">
                <h6>Total Amount</h6>
            </td>
            <td class="text-break  "> {{amount}}</td>
        </tr>
        </tbody>
    </table>


    <table class="tab  table-sm table-bordered  ">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Futurework</th>
            </tr>
        </thead>

        <tbody>
            <td class="text-break tab "> {{futurework}}</td>
        </tbody>
    </table>





    <table class="table  table-bordered  ">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Appointement Booked ID</th>
                <th scope="col">EmployeID</th>
                <th scope="col">Date</th>

            </tr>
        </thead>

        <tbody>

            <td> {{user}}</td>
            <td> {{byuser}}</td>
            <td>{{date}}</td>

        </tbody>
    </table>


    </div>










    <hr>


</body>

</h