<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact us</title>
</head>

<body style="margin: 0; padding: 0;">
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="320"
    style="border: none; border-collapse: collapse; font-family:  Arial, sans-serif; font-size: 14px; line-height: 1.5;">
    <h1 style="text-align: center;"><strong>Daddy's Garage Contact Us</strong></h1>
    <p><strong style="color: black;">{{name}}</strong>, Wants to contact to our Garage Email id is <strong
        style="color: rgb(29, 2, 2);">{{email}}</strong> Contact no is <strong style="color: rgb(29, 2, 2);"><a
          href="tel:{{phone}}">{{phone}}</a></strong> </p>

    <p>Message is :{{desc}}</p>


</body>

</html>