<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointement Letter</title>
</head>
<body style="margin: 0; padding: 0;">
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="320" style="border: none; border-collapse: collapse; font-family:  Arial, sans-serif; font-size: 14px; line-height: 1.5;">
    <h1 style="text-align: center;"><strong>Daddy's Garage</strong></h1>
    <p>Hi <strong style="color: black;">{{name}}</strong>, Welcome to our Garage we will contact you soon for further information your Appointement no is <strong style="color: rgb(255, 0, 0);">00000{{id}}</strong> </p>

    <p>Appointement booked by username : <strong style="color: orange;">{{user}}</strong></p>
    <p>Date of Appointement : <strong style="color: rgb(12, 12, 12);">{{day}}-{{mon}}-{{yr}}</strong></p>

    
</body>
</html>