{% extends 'base.html' %}

{% block title %}About Us{% endblock %}


{% block body %}

<style>
    h3,
    p {
        padding-top: 2%;
    }
</style>



<div class="parallax" style='background-image :url("static/images/about.jpg");'>


    <!---header-wrapper--->
    <div class="container">
        <div class="clear"></div>
        <div class="page-content">
            <div class="page">
                <div class="panel">
                    <div class="title">

                        <h1>SERVICES WE OFFER</h1>
                    </div>
                    <div class="content">

                        <p style="color: black;"> Our professionals will perform Diagnostic Tests, Fluid flush and
                            Fills, Engine Tunning, Oil
                            Changes, and total Vehicle
                            Overhauls.</p>


                        <h3 style="color: black;">CHECK ENGINE</h3>
                        <p style="color: black;"> Depending on the make and model of your vehicle , Check Engine Light
                            blinks or study and be
                            orange or red in color. It
                            uses to indicate a malfunction in your engine management system. Our team gives you
                            easy-to-read health report, which includes relevant codes and details the
                            action that needs to be
                            taken.</p>


                        <h3 style="color: black;">AUTOMOTIVE FILTERS AND FLUIDS</h3>
                        <p style="color: black;"> With so many options in the market, determining the right fluids and
                            filters can be a
                            complex task. Even among seemingly
                            similar options, the cheaper and lower-quality alternatives can cause operational issues.
                            Count on the professional team at Daddy's garage for Oil, Filter and Fluid services. As per
                            your vehicle manufacturer,
                            we ensure you get right ones.</p>


                        <h3 style="color: black;"> SUSPENSION, BREAKS AND STEERING</h3>
                        <p style="color: black;"> Brakes and suspension systems are two of the most important parts of
                            your vehicle. Brakes
                            help you stop to avoid
                            accidents, while your suspension works to keep your vehicle under control.
                            If you have a problem with either, it's not only more inconvenient to drive - it's also
                            dangerous.
                            Don't risk your safety when you have symptoms of brake or suspension problems. Come to
                            Daddy's garage for complete and accurate inspections and diagnostics to find the
                            problem.</p>


                        <h3 style="color: black;"> REGULAR SERVICES</h3>
                        <p style="color: black;"> Replace the Engine Oil, Oil filters, Clean Air Filter, Fluids check
                            and top up (Inspect),
                            Exterior Wash. General health
                            check up Free On Board Diagnostics (OBD).</p>

                        <h3 style="color: black;">RUNNING REPAIRS</h3>

                        <p style="color: black;">All kind of repairs Suspension, Breaks, Engine, Battery, Clutch and
                            Transmission Belts, Exhaust
                            System.</p>


                        <h3 style="color: black;">CLUTCH REPAIR</h3>
                        <P style="color: black;">Clutches operate behind the scenes in many transmissions, including
                            automatics, but the word
                            clutch typically refers to
                            the component that connects and disconnects the engine’s rotating crankshaft to a
                            traditional manual transmission. It
                            disconnects when the driver depresses the clutch pedal, selects a gear using the stick shift
                            and re-engages when the
                            pedal is released.</P>


                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!---page-content--->

{% endblock %}