<!DOCTYPE html>
<html lang="en">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<title>Garage Bill</title>

<style>
    h1{
        font-size: 25px;
    }

    table {
  border: 1px solid rgb(190, 186, 186);
}
td,th {
  text-align: center;
}
th{
    padding:6px;
    background-color:rgb(192, 238, 238);
}
 .tab {
  padding: 5px;

}
td{
    padding:5px;
}
.text-break {
  word-break: break-all;
}
p{
    text-align: center;
}
</style>

</head>

<body>
    <h1 style="text-align: center;">Daddy's Garage</h1>
    <p>SPL. IN:TATA, LEYLAND, EICHER & ALL DIESEL VECHICLES</p>
    <p>Locate Us : Manohar Compound, Near Maharashtra Weight Bridge, L.B.S. Marg, Kurla(W), Mumbai-400070 </p>
    
    <hr>
<div style="overflow-x:auto;"></div>
    <table class="table ">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Appointement id</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Vehicle no</th>
            </tr>
        </thead>

        <tbody>
            <td> {{bil.apt_id}}</td>
            <td> {{bil.name}}</td>
            <td> {{bil.phone}}</td>
            <td>{{bil.email}}</td>
            <td> {{bil.busno}}</td>
        </tbody>
    </table>



    <table >
        <thead class="thead-dark">
            <tr>
                <th scope="col">workdone</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>

        <tbody>
        <tr>
            <td class="text-break "> {{bil.workdone1}}</td>
            <td class="text-break  "> {{bil.wamount1}}</td>
            </tr>
        <tr>
            <td class="text-break "> {{bil.workdone2}}</td>
            <td class="text-break "> {{bil.wamount2}}</td>
            </tr>
        <tr>
            <td class="text-break "> {{bil.workdone3}}</td>
            <td class="text-break "> {{bil.wamount3}}</td>
            </tr>
        <tr>
            <td class="text-break "> {{bil.workdone4}}</td>
            <td class="text-break "> {{bil.wamount4}}</td>
            </tr>
        <tr>
            <td class="text-break "> {{bil.workdone5}}</td>
            <td class="text-break "> {{bil.wamount5}}</td>
            </tr>
        <tr>
            <td class="text-break  "> {{bil.workdone6}}</td>
            <td class="text-break  "> {{bil.wamount6}}</td>
            </tr>
        <tr>
            <td class="text-break  "> {{bil.workdone7}}</td>
            <td class="text-break  "> {{bil.wamount7}}</td>
            </tr>
        <tr>
            <td class="text-break  "> {{bil.workdone8}}</td>
            <td class="text-break  "> {{bil.wamount8}}</td>
            </tr>
        <tr>
            <td class="text-break  "> {{bil.workdone9}}</td>
            <td class="text-break  "> {{bil.wamount9}}</td>
            </tr>
        <tr>
            <td class="text-break  "> {{bil.workdone10}}</td>
            <td class="text-break  "> {{bil.wamount10}}</td>
            </tr>
        <tr>
            <td class="text-break  "> {{bil.workdone11}}</td>
            <td class="text-break  "> {{bil.wamount11}}</td>
            </tr>
        <tr>
            <td class="text-break  "> {{bil.workdone12}}</td>
            <td class="text-break  "> {{bil.wamount12}}</td>
            </tr>
        <tr>
            <td class="text-break  "> {{bil.workdone13}}</td>
            <td class="text-break  "> {{bil.wamount13}}</td>
            </tr>
        <tr>
            <td class="text-break  "> {{bil.workdone14}}</td>
            <td class="text-break  "> {{bil.wamount14}}</td>
            </tr>
        <tr>
            <td class="text-break  "> {{bil.workdone15}}</td>
            <td class="text-break  "> {{bil.wamount15}}</td>
            </tr>
        </tbody>
        <tr>
            <td class="text-break  "><h6>Total Amount</h6></td>
            <td class="text-break  "> {{bil.amount}}</td>
            </tr>
        </tbody>
    </table>

    
    <table class="tab  table-sm table-bordered  ">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Futurework</th>
            </tr>
        </thead>

        <tbody>
            <td class="text-break tab "> {{bil.futurework}}</td>
        </tbody>
    </table>

  
    


    <table class="table  table-bordered  ">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Appointement Booked ID</th>
                <th scope="col">EmployeID</th>
                <th scope="col">Date</th>
                
            </tr>
        </thead>
    
        <tbody>
            
            <td > {{bil.user}}</td>
            <td> {{bil.byuser}}</td>
            <td>{{bil.bdate}}</td>
           
        </tbody>
    </table>


    </div>










<hr>

   
</body>

</html>